/*
!/KI_Project
/KI_Project/*
!/KI_Project/src
!/KI_Project/Resources
!/KI_Project/*.txt

!/GUI_Project
/GUI_Project/*
!/GUI_Project/src
!/GUI_Project/Resources
!/GUI_Project/*.txt

!/Main_Project
/Main_Project/*
!/Main_Project/src
!/Main_Project/Resources
!/Main_Project/*.txt

!/Network_Project
/Network_Project/*
!/Network_Project/src
!/Network_Project/Resources
!/Network_Project/*.txt

!/Sonstiges

