/*
!/KI Projekt
/KI Projekt/*
!/KI Projekt/src

!/GUI Projekt
/GUI Projekt/*
!/GUI Projekt/src

!/Main Project
/Main Project/*
!/Main Project/src

!/Network Projekt
/Network Projekt/*
!/Network Projekt


